*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --alnost-white: #fffdfa;
    --Dark-Blue: #00001A;
    --Gunmetal: #5E607A;
    --Vermillion: #F15D51;
    --Yellow: #E9AA52;
    --Silver: #C5C6CE;
}

body{
    padding: 1.75rem 1 rem;
    background: var(--alnost-white);
}

.header-mobile{
    
}

